<div class="block">
  <h1>Blog</h1>
  <h3>List of articles</h3>

  <hr />

  <p>Our blog has <strong><%= Article.public_count %></strong> public article(s) and counting!</p>

  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <h5>
            <%= link_to article.title, article %>
          </h5>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>